{{define "title"}}
Homelobby | {{index . "name"}}
{{end}}

{{define "body"}}
<header>
  <h2>Edit Note</h2>

  <div class="row">
    <div class="col">
      <p class="is-marginless">Update information about the note</p>
    </div>
    <div class="col is-right">
      <input type="submit" form="note_form" value="Update note" class="button primary">
    </div>
  </div>
</header>

<form id="note_form" hx-put="/notes/{{.Note.Id}}" hx-target="main" hx-push-url="true">
  <fieldset>
    <p>
      Details
      <textarea rows="3" cols="3" minlength="1" name="detail">{{ .Note.Detail }}</textarea>
    </p>
  </fieldset>
</form>
{{end}}
