{{define "title"}}
Homelobby | {{index . "title"}}
{{end}}

{{define "body"}}
<header>
  <h2>Dashboard</h2>
  <p>Track about your notes and payments.</p>
</header>

<div class="row" hx-target="main" hx-swap="innerHTML" hx-push-url="true">
  <div class="col">
    <div class="card">
      <header>
        <a hx-get="/notes">
          <h4>Notes</h4>
        </a>
      </header>
      <p>Some notes that help me to remind</p>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <header>
        <a hx-get="/payments">
          <h4>Payments</h4>
        </a>
      </header>
      <p>Transaction payments specially electric and water bill</p>
    </div>
  </div>
</div>
{{end}}
